################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStoreManagement/FileContentIndex/481ded61-1dd7-4a8b-9734-335688164db8.vsidx
/.vs/BookStoreManagement/FileContentIndex/6f13eb9f-ffc0-4247-9ba4-48ec673182c9.vsidx
/.vs/BookStoreManagement/FileContentIndex/9f32cb97-77b6-4efc-a3f9-bcbe389b2097.vsidx
/.vs/BookStoreManagement/FileContentIndex/d9f2e11a-5f6f-4edb-927a-b5b540b52335.vsidx
/.vs/BookStoreManagement/FileContentIndex/4a6645fc-6295-470b-8ec7-2b1494f3c4b7.vsidx
/.vs/BookStoreManagement/FileContentIndex/6069d31f-faa6-4bf8-8698-41ac5bce9092.vsidx
/.vs/BookStoreManagement/FileContentIndex/7697cb83-f0cb-4707-9382-3105e75a639a.vsidx
/.vs/BookStoreManagement/FileContentIndex/9f19686a-970d-45c4-895f-db1661b0fcda.vsidx
/.vs/BookStoreManagement/FileContentIndex
