################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStoreManagement/FileContentIndex/481ded61-1dd7-4a8b-9734-335688164db8.vsidx
